<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projetos</title>
    <link rel="shortcut icon" href="/src/static/imgs/img-perfil.png" type="image/x-icon">

<body>
    <div>
        <a target="_blank" href="https://mariaandrezacs.github.io/projeto-urna-eletronica/">Urna Eletrônica</a> <br>
        <a target="_blank" href="https://mariaandrezacs.github.io/recriando_pagina_instagram/">Pagina Instagram - Replica</a> <br>
        <a target="_blank" href="https://mariaandrezacs.github.io/clone-netflix-interface/">Pagina netflix - Replica</a> <br>
        <a target="_blank" href="https://mariaandrezacs.github.io/joguinho-cobrinha/">Jogo da Cobrinha</a> <br>
        <a target="_blank" href="https://mariaandrezacs.github.io/aula_bootstrap/">Aprendendo Bootstrap</a> <br>
    </div>
</body>
</html>